{% extends 'base.html.twig' %}


{% block body %}
<div class="example-wrapper"> 
    <div class="container">
    <section class="section">
        <div class="sae-block row">
            <div class="sae-image col-left">
            <img src="{{ asset('image/administre.jpg') }}" alt="Hygiène informatique">
            </div>
            <div class="sae-text col-right">
            <h2 class="subtitle">SAÉ 1.01 : Se sensibiliser à l’hygiène informatique et à la cybersécurité</h2>
            <p class="paragraph">Cette première SAÉ nous a initié aux enjeux de la sécurité numérique. Elle met l’accent sur les menaces courantes (malwares, phishing, failles de configuration) et sur les bonnes pratiques à adopter au quotidien : gestion des mots de passe, mises à jour régulières, sauvegardes, vigilance face aux courriels suspects.</p>
            <a class="boutton_sae" href="/competences/sae1">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
        </div>

        <div class="sae-block row alternate">
            <div class="sae-text col-left">
            <h2 class="subtitle">SAÉ 1.02 :S’initier aux réseaux informatiques</h2>
            <p class="paragraph">Les étudiants découvrent les bases du câblage et de la mise en place d’un réseau local. Ils manipulent des équipements comme  les commutateurs, et apprennent à configurer des adresses IP ou à tester la connectivité. </p>
            <a class="boutton_sae" href="/competences/sae2">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
            <div class="sae-image col-right">
            <img src="{{ asset('image/projet.jpg') }}" alt="Réseaux informatiques">
            </div>
        </div>

        <div class="sae-block row">
            <div class="sae-image col-left">
            <img src="{{ asset('image/connecte.jpg') }}" alt="Transmission">
            </div>
            <div class="sae-text col-right">
            <h2 class="subtitle">SAÉ 1.03 : Découvrir un dispositif de transmission</h2>
            <p class="paragraph">Cette SAÉ explore les principes de transmission de l’information. Les étudiants étudient différents supports (fibre optique, câbles cuivre, ondes radio) et les phénomènes physiques associés (atténuation, bruit, bande passante). </p>
            <a class="boutton_sae" href="/competences/sae3">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
        </div>

        <div class="sae-block row alternate">
            <div class="sae-text col-left">
            <h2 class="subtitle">SAÉ 1.04 : Se présenter sur Internet</h2>
            <p class="paragraph">Ici, l’accent est mis sur la construction d’une identité numérique professionnelle. Les étudiants créent un site web ou un portfolio en ligne, apprennent à publier du contenu et à gérer leur visibilité.</p>
            <a class="boutton_sae" href="/competences/sae4">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
            <div class="sae-image col-right">
            <img src="{{ asset('image/competence.png') }}" alt="Identité numérique">
            </div>
        </div>

        <div class="sae-block row">
            <div class="sae-image col-left">
            <img src="{{ asset('image/sae4.jpg') }}" alt="Traitement des données">
            </div>
            <div class="sae-text col-right">
            <h2 class="subtitle">SAÉ 1.05 : Traiter des données</h2>
            <p class="paragraph">Cette SAÉ initie à la collecte, au tri et à l’analyse de données. Les étudiants utilisent des outils comme les tableurs ou les bases de données pour manipuler des ensembles d’informations. Ils apprennent à produire des graphiques, à interpréter des résultats et à tirer des conclusions pertinentes. </p>
            <a class="boutton_sae" href="/competences/sae5">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
        </div>
        <div class="sae-block row">
            <div class="sae-image col-left">
            <img src="{{ asset('image/reseau1.jpg') }}" alt="réseau">
            </div>
            <div class="sae-text col-right">
            <h2 class="subtitle">SAÉ 1.Portfolio</h2>
            <p class="paragraph">La SAE1.Portfolio du BUT RT est un projet du premier semestre où l’étudiant crée un portfolio numérique. Il regroupe ses travaux et compétences développées dans les SAE, avec productions techniques et réflexion personnelle, afin de valoriser son parcours et préparer l’évaluation ainsi que de futurs entretiens.</p>
            <a class="boutton_sae" href="/competences/saeportfolio">
                <button type="submit" class="btn btn-primary">Découvrir</button>
            </a>
            </div>
        </div>
    </section>
    </div>
</div>
<br><br><br><br>
{% endblock %}
